@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Work+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;600;700&display=swap');

.header--active {
    height: 72px;
    max-width: 100%;
    font-family: "Jockey One", "Inter", sans-serif !important;
    background-color: rgb(20, 20, 20) ;
}
.header--link {
    color:aliceblue;
}
.header--name {
    font-weight: 300;
    font-size: 2em;
    text-decoration: none;
    white-space: nowrap;
    color: aliceblue;
    margin-top: 10px;
    display: inline-block;
    margin-left: 20%;
}

.header--nav {
    display: flex;
    padding: 10px;
    float: right;
    gap: 15px;
    margin-right: 20%;
}

