.header--link {
    margin-right: 20;
    margin: "auto";
}

.header--button {
    display: flex;
    justify-content: space-between;
    margin-right: 20;
    padding-right: 50;
    position: "relative";
    z-index: 1000;
}
